.app {
    text-align: center;
}

.home {
    padding: 20px;
}

#title {
    font-style: italic;
}

.task-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.task-input {
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 4px;
}

.add-task-button {
    background-color: rgb(39, 236, 39);
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: white;
}

.add-task-button:hover {
    background-color: green;
}

.task-sections {
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

.task-section {
    border-radius: 10px;
    width: 30%;
    padding: 10px;
    border: 2px solid black;
}

.task-section h3 {
    text-align: center;
    margin-bottom: 10px; 
}





.deleteTask {
    background-color: rgb(211, 73, 61);
    border-radius: 10px;
    margin: 2px;
}
.clearAll {
    background-color: red;
    border-radius: 10px;
}

.MoveToOngoing {
    background-color: yellow;
    border-radius: 10px;
    margin: 2px;
}
.MoveToCompleted {
    background-color: green;
    border-radius: 10px;
    margin: 2px;
}
.MoveToTodo {
    border-radius: 10px;
    margin: 2px;
}

ul {
    list-style-type: none;
}

li {
    background-color: rgb(120, 181, 207);
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 2px;
}






